@font-face {
    font-family:"Somersans";
    src: url(Somar-bold.ttf);
}
@font-face {
    font-family:"Somersans-Regular";
    src: url(Somar-Regular.ttf);
}
*{
    margin:0;
    padding:0;
}
body{
    overflow: auto;
}
#Icon{
    width: 52.41px;
    height: 42px;
    position: relative;
    left:40cm;
    top:30px;
    display: inline;

}
#position{
    display: inline;
}
ul{
    position: relative;
    left: 27cm;
    font-family:"Somersans";
    font-size:15px;
    bottom:5px;
    content:normal;


}
li a:hover{
    color: #689488;
}
li {
    display: inline;
  padding: 15px;
  text-decoration: none;
}
li a{
    text-decoration: none;
    color:black;
    transition: 0.3s;
} 

.button1{
    border:1.1cm;
    border-radius: 30px;;
    display: inline-block;
    position: relative;
    bottom: 39px;
    left: 17.6cm;
    text-decoration: none;
    background-color:#F6FEFC;
    padding:10px 25px 10px 30px;
    color: black;
    transition: 0.3s;
    font-family:"Somersans";
    font-size: 15px;
    
}
.button1:hover{
    background-color: #0D9488;
    color: white;
    position:relative;
    bottom: 35px;
}
.button2{
    border:2px #0c887e solid;
    border-radius: 30px;;
    display: inline-block;
    position: relative;
    bottom: 86px;
    left: 13Cm;
    text-decoration: none;
    background-color:#0D9488;
    padding:8px 20px 8px 20px;
    color: white;
    transition: 0.35s;
    font-family:"Somersans";
    font-size: 15px;
}
.button2:hover{
    background-color: #0F766E;
    bottom:82px
}
.button3{
    border-radius: 30px;;
    display: inline-block;
    position: relative;
    bottom: 120px;
    left: 9.4Cm;
    font-family:"Somersans-Regular";
    font-weight: 600;
    
}
.dropdown {
    position: absolute;
    display: inline-block;
    font-family:"Somersans"
    
}
.dropdown-content {
    display: none;
    position: relative;
    color: black;
    
    
  }
  .dropdown-content a {
    color: black;
    padding: 6px 12px 5px 7px;
    text-decoration: none;
    display:inline-block;
    text-align: center;
    
    
  }
  .dropdown-content a:hover {background-color: #CCFBF1;}
  .dropdown:hover .dropdown-content {display:block;
    left:9.3cm;
    bottom: 120px;
    background-color: #CCFBF1;
    
    
}
 .Headline {
    font-family:"Somersans";
    text-align: center;
    font-size: 54px;
    position: relative;
    top:45px;
    right:20px;
    background: -webkit-linear-gradient(#0D9488,#1E293B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

 }
 .underheadline{
    font-family:"Somersans-Regular";
    text-align: center;
    color: #64748B;
    font-size: 18px;
    position: relative;
    top:65px;
    font-weight:600;
    right:20px;
 }
 .buttonunderheadline{
    border:2px #0c887e solid;
    border-radius: 30px;;
    display: inline-block;
    position: relative;
    top:95px;
    left: 21Cm;
    text-decoration: none;
    background-color:#0D9488;
    padding:13px 30px 13px 60px;
    color: white;
    transition: 0.35s;
    font-family:"Somersans";
    font-size: 18px;                            
 }
 

 .buttonunderheadline:hover{
    top:99px
 }
 .info{
    font-family:"Somersans-Regular";
    text-align: center;
    color: #64748B;
    font-size: 14px;
    position: relative;
    top:110px;
    font-weight: 600;
    right:20px;
 }
 .imgright{
    position:relative;
    top:100px;
    left:32cm;
    display:inline;
    animation: rotations 80s infinite linear;
 }
 @keyframes rotations{
    from {
        transform:rotate(359deg)
    }
    to {
        transform: rotate(0deg);
    }
 }
 

 .imgleft{
    position: relative;
 bottom:240px;
 left:8cm;
 animation: rotation 80s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.imgmiddle {
    max-width: 845px;
    position:relative;
    bottom:465px ;
    left: 14cm;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(209, 209, 209);

}
.imgleftmiddle{
    position: relative;
    bottom:27.2cm;
    max-width: 312px;
    left:8.5cm

}
.imgrightmiddle{
    position: relative;
    top:-36.9cm;
    max-width: 284px;
    left: 33.8cm;
    z-index: 0;
}
#stickyline{
    position: fixed;
    bottom:0;
    background: -webkit-linear-gradient(right,#00a58f,#12524D);;
    z-index: 10;
    width: 100%;
    padding: 27px 0px;
}
#stickyline p{
      position: relative;
    font-family:"Somersans";
      text-align: right;
     font-size:17px;
     display: inline-block;
     left:65%;
}
.stickybutton{
    border-radius: 30px;;
    display: inline-block;
    position:fixed;
    bottom:15px;
    left: 18%;
    text-decoration: none;
    background-color:#ffffff;
    padding:13px 35px 13px 35px;
    color: #10aa9d;
    transition: 0.2s;
    font-family:"Somersans";
    font-size: 15px;
}
.stickybutton:hover{
    background-color:#0faa9d ;
    color: white;
}
#underimageright{
    position: relative;
    bottom:34cm;
    left: 55%;
    display: inline-block;
}
#underimageright h1{
    font-family:"Somersans-Regular";
    direction: rtl;
    font-size: 48px;
    background: -webkit-linear-gradient(right,#0D9488,#1E293B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
}
#underimageright p{
    direction:rtl ;
    font-family:"Somersans";
   color:black  ;
   opacity: 0.7;
   position: relative;
   top: 20px;
   font-size: 19px;
}
#underimageleft{
    position: relative;
    display: inline-block;
    bottom:33cm;
    left:6cm;
}
#underimageleft h1{
    font-family:"Somersans" ;
    color: #1E293B;
    font-size: 80px;
}
#underimageleft h2{
    font-family:"Somersans" ;
    color: #1E293B;
    position: relative;
    bottom: 85px;
    left:3cm;
    font-size:40px ;
}
#underimageleft img{
    position: relative;
    bottom: 2.5cm;
    width: 190px;
    right: 40px;
}
#underimageleft p{
    direction: rtl;
    font-family:"Somersans";
    position: relative;
    right:11.5cm;
    font-size: 15px;
    bottom: 80px;
    opacity:0.7;
}
.imgunderleft{
 display: inline-block;
 position: relative;
 bottom: 34.5cm;
 left: 13.5cm;
}
#section3 {
    display: inline-block;
    position: relative;
    bottom: 30cm;
    
}
#section3 h1{
    font-family:"Somersans";
    position: relative;
    font-size: 52px;
    direction: rtl;
    left: 14.7cm;
    background: -webkit-linear-gradient(right,#0D9488,#1E293B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section3 p{
    direction: rtl;
    position: relative;
    font-family:"Somersans";
    left: 14.7cm;
    top: 20px;
    opacity: 0.7;
}
#imgpara {
    position: relative;
    bottom: 28cm;
    background-color: #F0FDFA;
    left: 325px;
    min-height: 580px ;
    width: 1275px;
    display: inline-block;
    border-radius: 20px;

}
.sec3img{
    width: 615px;
    border-radius: 10px;
    position: absolute;
    left:635px ;
    top:90px;
}
.sec3img1{
width:200px;
border-radius: 10px;
position: absolute;
top: 200px;
left:635px;
box-shadow: 0 0 10px rgb(177, 177, 177);
}
.sec3img2{
    width:275px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(177, 177, 177);
    position: absolute;
    top: 435px;
    left: 950px;
}
#paraimg {
    direction: rtl;
    position: relative;
    right: 730px;
    font-family:"Somersans";
    color: #1E293B;
    top: 110px;
    font-size: 24px;
    line-height: 60px;
}
.paratext{
    font-family:"Somersans";
    direction: rtl;
    position: relative;
    right: 734px;
    top: 130px;
    opacity: 0.7;
}
.parabutton{
    border:2px #0c887e solid;
    border-radius: 30px;;
    display: inline-block;
    position: relative;
    top:170px;
    left: 8.5Cm;
    text-decoration: none;
    background-color:#0D9488;
    padding:14px 30px 14px 65px;
    color: white;
    transition: 0.35s;
    font-family:"Somersans";
    font-size: 18px;
}
.parabutton:hover{
    top:175px;
}
.parasmalltext{
    font-family:"Somersans";
    opacity: 0.5;
    position: relative;
    bottom: 32cm;
    left:14cm;
    font-size: 15px;
    display: inline;
}
#footer{
    background-color: #0F172A;
    position: relative;
    bottom:0px;
    width: 100%;
    height: 550px;
}
.footerstuff{
position: absolute;
top: 130px;
left: 31.3cm;
direction: rtl;
color: #C9D9E0;
font-family:"Somersans-Regular";
}
.iconfooter {
    max-width: 100px;
    transition: 0.3s;
}
.iconfooter:hover{
    max-width: 110px;
}
.visafooter{
    position: relative;
    top: 50px;
}
#verticalnav{
    display: inline-block;
}
#verticalnav2{
    display: inline-block;}
    
    
#verticalnav a{
text-decoration:none;
color: #C9D9E0;
top:83px;
position: relative;
transition: 0.3s;
direction: rtl;
display: inline-block;
}

#verticalnav a:hover{
    color: #1a746c;
}

.h1wulit{
    font-size: medium;
    position: relative;
    top: 75px;
    display: inline-block;
}
#verticalnav2 a{
    text-decoration:none;
    color: #C9D9E0;
    bottom: 165px;
    position: relative;
    transition: 0.3s;
    direction: rtl;
    right: 150px;
    display: inline-block;
    
    }
    
    #verticalnav2 a:hover{
        color: #1a746c;
    }
    #verticalnav3 div{
        display: inline-block;
    position: relative;
    }
    #verticalnav3 a{
        text-decoration:none;
        color: #C9D9E0;
        bottom:190px;
        position: relative;
        transition: 0.3s;
        direction: rtl;
        right:20cm;
        display: inline-block;
        font-family:"Somersans"
        }
        
        #verticalnav3 a:hover{
            color: #1a746c;
        }
        
